<%= gravatar(comment.author_email, :default => gravatar_url('unknown@gravatar.com')) %>
  <cite><%= author_link(comment) %></cite> says:
  <br />
  <small class="commentmetadata"><a href="#comment-<%= comment.id %>" title=""><%= format_comment_date(comment.created_at) %></a></small>
  <p class="commentbody"><%= comment.body_html.untaint %></p>
