<div class="post">
  <h3><%= link_to(h(post.title), post_path(post)) %></h3>
  <ul class="post_info">
    <li class="date">Posted on <%= format_post_date(post.published_at) %></li>
    <li class="comments"><%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %></li>
  </ul>					
  <p>
    <%= post.excerpt_html.untaint unless post.excerpt_html.blank? -%>
    <%= post.body_html.untaint %>
</div>

