<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'nonzero' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui-min-custom' %>
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="header">
    <div id="header_inner" class="fluid">
      <div id="logo">
        <h1><span><a href="/">snorp.net</a></span></h1>
        <h2>home of <a href="mailto:snorp at snorp.net">James Willcox</a></h2>
      </div>
      <div id="menu">
        <ul>
          <% page_links_for_navigation.each do |link| -%>
            <li>
              <% if link.url == request.path or (link.url == '/posts' and request.path == '/') %>
                <%= link_to(h(link.name), link.url, :class => "active") %>
              <% else %>
                <%= link_to(h(link.name), link.url) %>
              <% end %>
            </li>
          <% end -%>
        </ul>
      </div>
      
    </div>
  </div>

<div id="main">

	<div id="main_inner" class="fluid">

		<div id="primaryContent_2columns">

			<div id="columnA_2columns">
        <%= yield %>
			</div>
	
		</div>
		
		<div id="secondaryContent_2columns">
		
			<div id="columnC_2columns">
        <ul class="links">
          <form method="get" id="sform" action="http://www.google.com/search">
            <input type="text" id="q" value="Search this site" name="q" class="text" />
            <input type="hidden" name="sitesearch" value="<%=h config[:url] %>" />
          </form>
          </li>
        </ul>
        <h4><span>Recent</span> Tweets</h4>
        <ul class="links">
          <% tweets_for_sidebar.each do |tweet| %>
            <li class="tweet">
            <a href="<%= tweet.link %>" class="tweetlink"></a>
            <%= linkify_tweet_message(tweet.message) %>
            </li>
          <% end %>
        </ul>
				<h4><span>Blog</span> Roll</h4>
				<ul class="links">
          <li><a href="http://abock.org">Aaron Bockover</a></li>
          <li><a href="http://gburt.blogspot.com/">Gabriel Burt</a></li>
          <li><a href="http://tirania.org/blog/">Miguel de Icaza</a></li>
          <li><a href="http://nat.org/">Nat Friedman</a></li>
          <li><a href="http://linuxart.com/log">Garret LeSage</a></li>
          <li><a href="http://brad.getcoded.net/">Brad Taylor</a></li>
          <li><a href="http://www.kdedevelopers.org/blog/54">Cornelius Schumacher</a></li>
        </ul>
        <script type="text/javascript"><!--
          google_ad_client = "pub-3882020247390018";
          /* 160x600, created 1/28/08 */
          google_ad_slot = "0726563905";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->

        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
			</div>

		</div>

		<br class="clear" />

	</div>

</div>

<div id="footer" class="fluid"><%=h config[:title] %> &#169; <%=h config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{h(config[:url])}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.  Design by <a href="http://nodethirtythree.com">nodethirtythree design</a></div>

</body>
</html>
